<a href="https://colab.research.google.com/github/fidelis2025/stankelly-website/blob/main/World_Bank_API_data_Extraction_for_Elias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Install required package
!pip install wbdata

Requirement already satisfied: wbdata in /usr/local/lib/python3.12/dist-packages (1.1.0)
Requirement already satisfied: appdirs<2,>=1.4 in /usr/local/lib/python3.12/dist-packages (from wbdata) (1.4.4)
Requirement already satisfied: backoff<3,>=2.2.1 in /usr/local/lib/python3.12/dist-packages (from wbdata) (2.2.1)
Requirement already satisfied: cachetools<6,>=5.3.2 in /usr/local/lib/python3.12/dist-packages (from wbdata) (5.5.2)
Requirement already satisfied: dateparser<2,>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from wbdata) (1.2.2)
Requirement already satisfied: decorator<6,>=5.1.1 in /usr/local/lib/python3.12/dist-packages (from wbdata) (5.2.1)
Requirement already satisfied: requests<3,>=2.0 in /usr/local/lib/python3.12/dist-packages (from wbdata) (2.32.4)
Requirement already satisfied: shelved-cache<0.4,>=0.3.1 in /usr/local/lib/python3.12/dist-packages (from wbdata) (0.3.1)
Requirement already satisfied: tabulate<1,>=0.8.5 in /usr/local/lib/python3.12/dist-packages (from wbdata) (0.9.0)
Requirement already satisfied: python-dateutil>=2.7.0 in /usr/local/lib/python3.12/dist-packages (from dateparser<2,>=1.2.0->wbdata) (2.9.0.post0)
Requirement already satisfied: pytz>=2024.2 in /usr/local/lib/python3.12/dist-packages (from dateparser<2,>=1.2.0->wbdata) (2025.2)
Requirement already satisfied: regex>=2024.9.11 in /usr/local/lib/python3.12/dist-packages (from dateparser<2,>=1.2.0->wbdata) (2025.11.3)
Requirement already satisfied: tzlocal>=0.2 in /usr/local/lib/python3.12/dist-packages (from dateparser<2,>=1.2.0->wbdata) (5.3.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.0->wbdata) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.0->wbdata) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.0->wbdata) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.0->wbdata) (2025.11.12)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7.0->dateparser<2,>=1.2.0->wbdata) (1.17.0)

In [3]:
import wbdata
import pandas as pd
from datetime import datetime

# Define country and time range
country = "SOM"
start_year = 1980
end_year = 2025

# Define indicators
indicators = {
    "FP.CPI.TOTL.ZG": "Inflation_CPI",
    "NE.CON.TOTL.ZS": "Aggregate_Demand_Final_Consumption_GDP",
    "NY.GDP.MKTP.KD": "Aggregate_Supply_GDP_Constant_USD",
    "PA.NUS.FCRF": "Exchange_Rate_LCU_per_USD"
}

# Fetch data
data = wbdata.get_dataframe(
    indicators,
    country=country,
    date=(datetime(start_year, 1, 1), datetime(end_year, 12, 31))
)

# Reset index
data.reset_index(inplace=True)

# Rename columns
data.rename(columns={"date": "Year"}, inplace=True)

# Sort by year
data["Year"] = data["Year"].astype(int)
data = data.sort_values("Year")

# Save to CSV
data.to_csv("Somalia_WDI_Inflation_Data.csv", index=False)

# Save to Excel
data.to_excel("Somalia_WDI_Inflation_Data.xlsx", index=False)

data

,Year,Inflation_CPI,Aggregate_Demand_Final_Consumption_GDP,Aggregate_Supply_GDP_Constant_USD,Exchange_Rate_LCU_per_USD
44,1980,None,113.107659,1.421532e+09,6.295000
43,1981,None,115.959374,1.510580e+09,6.295000
42,1982,None,112.778642,1.552378e+09,10.750350
41,1983,None,126.377044,1.372667e+09,15.787658
40,1984,None,122.426231,1.417494e+09,20.018550
39,1985,None,83.243108,1.552580e+09,39.487142
38,1986,None,98.688003,1.519263e+09,72.000000
37,1987,None,90.401334,1.672522e+09,105.177083
36,1988,None,92.279890,1.729642e+09,170.452750
35,1989,None,98.862221,1.795501e+09,490.675167
34,1990,None,99.997751,1.837281e+09,NaN
33,1991,None,NaN,1.891492e+09,NaN
32,1992,None,NaN,1.730936e+09,NaN
31,1993,None,NaN,1.800010e+09,NaN
30,1994,None,NaN,1.478763e+09,NaN
29,1995,None,NaN,1.537774e+09,NaN
28,1996,None,NaN,1.661504e+09,NaN
27,1997,None,NaN,1.681118e+09,NaN
26,1998,None,NaN,1.791844e+09,NaN
25,1999,None,NaN,1.922977e+09,NaN
24,2000,None,NaN,2.059706e+09,NaN
23,2001,None,NaN,2.206158e+09,NaN
22,2002,None,NaN,2.374494e+09,NaN
21,2003,None,NaN,2.555674e+09,NaN
20,2004,None,NaN,2.737390e+09,NaN
19,2005,None,NaN,2.932028e+09,NaN
18,2006,None,NaN,3.122210e+09,NaN
17,2007,None,NaN,3.331221e+09,NaN
16,2008,None,NaN,3.554225e+09,NaN
15,2009,None,NaN,3.792157e+09,31558.905478
14,2010,None,NaN,4.046018e+09,31269.662571
13,2011,None,NaN,4.316872e+09,29966.835440
12,2012,None,133.732813,4.605859e+09,22516.000297
11,2013,None,131.735701,5.110629e+09,19283.799950
10,2014,None,129.964848,5.569462e+09,20230.929131
9,2015,None,129.588113,6.152149e+09,22254.235684
8,2016,None,129.244010,6.584945e+09,23061.784314
7,2017,None,128.757540,7.555289e+09,23097.987322
6,2018,None,129.289978,7.710498e+09,NaN
5,2019,None,128.084566,7.926418e+09,NaN
4,2020,None,132.382939,7.707288e+09,NaN
3,2021,None,128.809448,7.972973e+09,NaN
2,2022,None,131.745565,8.189696e+09,NaN
1,2023,None,135.636065,8.531635e+09,NaN
0,2024,None,141.154842,8.882404e+09,NaN